@import '../index.scss';

.myCookbook {
  display: flex;
  flex-direction: column;
  // width: 100%;
  margin: 25px;
  flex-wrap: wrap;
  padding: 20px;
  overflow: hidden;
  background: $white;
  border-radius: $border-radius-login;
box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.myCookBookChapter ul{
  padding: 0px 40px 40px 40px;
}

.addRecipeButton {
  background: $peach-fuzz;
  padding: $button-padding;
  box-shadow: none;
  border: none;
  font-family: $primary-font;
  font-size: 16px;
  color: $peach-fuzz-dark;
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  &:hover {
    // border-bottom: 1px solid black;
    color: $peach-fuzz-dark;
    letter-spacing: 0.02em;
  }
}


.create {
  display: flex;
  justify-content: space-around;
}

.myCookbook h2 {
  font-size: $h2-font-size;
}

.chapter {
  display: flex;
  align-items: center;
}

.chapter h2 {
  padding-right: 10px;
}
.chapter a {
  transform: all 0.25s ease-out;
  &:hover {
    transition: scale(1.02);
  }
}

.chaptersList {
  list-style: none;
}

.cookbookHeader {
  display: flex;
}

.cookbookHeader h2 {
  font-size: 64px;
  margin-bottom: 10px;
}

.cookbookHeader button {
  font-size: 48px;
  background: none;
  border: none;
  // margin-top: px;
  // padding-left: 5px;
   &:hover {
    color: $peach-fuzz-dark;
  }
}

.createChapter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 300px;
  height: 200px;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.createChapter label {
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  margin: 10px;
}

.createChapter div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.createChapter input {
  padding-left: 10px;
    font-weight: 300;
    padding: 6px 12px 6px 7px;
    margin: 5px 0px;
    // border: 0.5px solid gray;
    font-size: 16px;
    font-family: $primary-font;
}

.createRecipe {
  display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 300px;
    height: 300px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.createRecipe input {
  padding-left: 10px;
  font-weight: 300;
  padding: 6px 12px 6px 7px;
  margin: 5px 0px;
  // border: 0.5px solid gray;
  font-size: 16px;
  font-family: $primary-font;
}
.cookbookFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 40px;
}

.cookbookFlex .button {
  margin-top: -8px;
}

.chapterAndShare {
  display: flex;
  align-items:center;
  img {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      margin-top:20px;
  }
}

.displayRecipeCard a {
  text-align: left !important;
  padding: 15px;
  font-style: italic;
  text-decoration:none;
  color: black;
  transition: all 0.25s ease-out;
  &:hover {
    transform: scale(1.02);
    color: $peach-fuzz-dark;
  }  
}

.chapter a {
  color: $peach-fuzz-dark;
  font-weight: 600;
  font-size: $h5-font-size;
  margin-top: 10px;
  text-decoration: none;
}

.editRecipe {
  height: 100vh;
  padding: 5px;
}

.editRecipe input {
  margin: 5px 0px;

}

.editRecipe input {
  font-family: $primary-font;
  color: #333;
  border: 0.5px solid #ccc;
  padding: 8px 5px 8px 10px;
  box-shadow: none;
  font-weight: 300;
  font-size: 16px;
}

.editRecipe input {
  font-family: $primary-font;
  color: #333;
  border: 0.5px solid #ccc;
  padding: 8px 5px 8px 10px;
  box-shadow: none;
  font-weight: 300;
  font-size: 16px;
}

#updateRecipe {
.recipeListInChapter {
  color: blue;
  li {
    flex-direction: row;
  }
}
}

.editButton {
  color: $white !important;
}

.goBackEditRecipe {
  text-align: left;
  background: none;
  border: none;
  height: 30px;
  margin-top: 10px;
  font-family: $primary-font;
  font-size: 14px;
  transition: color 2s ease-out;
  -webkit-transition: color 2s ease-out;
  transition: letter-spacing 1s ease-out;
  -webkit-transition: letter-spacing 1s ease-out;
  &:hover {
    color: $peach-fuzz-dark;
    letter-spacing: 0.02em;
  }
  &:focus {
    background-color: $peach-fuzz;
  }
}

.recipeAndEdit {
  .editRecipe {
    width: 100%;
    input.button {
      width: 100%;
    }
  }

}

.chaptersList ul {
  padding: 0px;
}

.recipeListInChapter {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  // justify-content: space-around;
  align-content: stretch;
  flex-direction: row;
  // padding-right: 40px;
}


.recipeListInChapter h4 {
  font-size: $h4-font-size;
  margin: 10px 0px;
}

.recipeListInChapter li {
    display: flex;
    // flex-direction: column;
    background: #FFF;
    word-wrap: break-word;
    list-style: none;
    // justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 300px;
    height: 500px;
    margin: 10px;
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.5s ease-out;
    &:hover {
      transform: scale(1.01);
    }
}

.recipeListInChapter h2 {
  padding: 20px;
}

.recipeListInChapter img {
  /* width: 250px; */
    height: 350px !important;
    width: 100%;
    object-fit: cover;
}

.recipeListInChapter h4 {
  padding: 5px;
  margin-top: 20px;
  margin: 15px 20px 0px 15px;
  max-height: 82px;
  overflow: hidden;
}

.recipeButtons a {
  padding: 5px;
  display: none !important;
  transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
  
    &:hover {
      // border-bottom: 1px solid black;
      color: $peach-fuzz-dark;
      letter-spacing: 0.02em;
    }
}

.recipeButtons {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  bottom: 0;
  padding: 0px 15px;
  width: 100%;
}

.recipeButtons button {
  padding: 10px 20px;
  box-shadow: none;
  border-radius: $button-border-radius;
  border: none;
  font-family: $primary-font;
  font-size: $button-font-size;
  font-weight: 200;
  margin-bottom: 15px;
  cursor: $cursor;
  transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
  
    &:hover {
      // border-bottom: 1px solid black;
      letter-spacing: 0.02em;
    }
}

.edit {
  background: $peach-fuzz-dark;
  color: white;
}

#deleteButton {
  text-align: center;
  cursor: pointer;
}

.view {
  background: transparent;
  color: $peach-fuzz-dark;
  border: 1px solid $peach-fuzz-dark !important;
}

// displayReicpe
