@import '../index.scss';


.welcomeBackground {
  background: white;
  border-top-left-radius: $border-radius-login;
  border-top-right-radius: $border-radius-login;
  margin: 25px;
}
.elevatorPitch {
 max-width: 800px;
 font-size: $h2-font-size;
 padding: $div-padding;
 background: $peach-fuzz-medium;
 color: white;
 border-radius: $border-radius;
}

.pickOfDay img {
  max-height: 450px;
  width: 100%;
  object-fit: fill;
}

.TwoCol {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: $div-padding;
  background: $white;
  box-shadow: $bos-shadow-div;
}

.leftDiv section {
  text-align: center;
}

.instructions {
  display: flex;
  justify-content: space-around;
  padding: $padding-between;
  background: $white;
    border-bottom-left-radius: $border-radius-login;
      border-bottom-right-radius: $border-radius-login;
  box-shadow: $bos-shadow-div;
    div {
      background: $peach-fuzz-dark;
      color: $white;
      // padding: $div-padding;
      width: 250px;
      padding: $div-padding;
    }
}

